<div class="row">
  <div class="col-md-6 mx-auto">
    <br />
    <br />
    <div class="card">
      <div class="card-header">
        <h2 class="form-signin-heading">login</h2>
      </div>
      <div class="card-body">



        <form #login="ngForm" (ngSubmit)="login.form.valid && signIn(login)" novalidate>


           <div class="alert" [hidden]="!messageInfo"  
                [class.alert-success]="formSuccess"  
                [class.alert-danger]="formError">
               {{MessageType}}
            </div> 

      



          <div class="form-group">
            <label for="email">Email</label>
            <input required="required" [pattern]="Regex.email" [(ngModel)]="loginUserData.email" name="email"
              #email='ngModel' [ngClass]="!email.valid &&  (email.touched || login.submitted) ? 'input-error' : '' "
              id="email" class="form-control" type="email" placeholder="Email">
            <!--start-form-error-->
            <div class="form-error alert alert-danger"
              *ngIf="!email.valid && (email.touched || (login.submitted && login.touched) )">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
              <div *ngIf="email.errors.pattern">
                Email doesn't match the pattern
              </div>
            </div>
            <!--end-form-error-->
          </div>
          <!--end-form-group -->

          <div class="form-group">
            <label for="password">Password</label>
            <input required="required" [(ngModel)]="loginUserData.password" name="password"
              #password='ngModel'
              [ngClass]="!password.valid &&  (password.touched || login.submitted) ? 'input-error' : '' "
              id="password" class="form-control" type="password" placeholder="Password">
            <div class="form-error alert alert-danger"
              *ngIf="!password.valid && (password.touched || (login.submitted && login.touched))">
              <div *ngIf="password.errors.required">
                password is required
              </div>

            
            </div>
            <!--end-form-error-->
          </div>


          <!-- <br />
          <p>{{login.value | json}} </p> -->
          <div class="form-group">
            <!-- [disabled]="!login.valid" -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>









      </div>

    </div>

  </div>
</div>
