<!-- 
<h1>Home Page</h1>
<p >
  Welcome
</p>
<ul>
  <li ><a routerLink="/register">Register</a></li>
  <li ><a  routerLink="/admin">Admin</a></li>
  <li ><a routerLink="/login">Login</a></li>
  <li ><a >Logout</a></li>
</ul>
 -->

<p *ngIf="authService.isLoggedIn()">
  Welcome <b>{{this.currentUser}} </b>
</p>
<!-- <ul>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register">Register</a></li>
  <li *ngIf="authService.isLoggedIn() && authService.currentUser"><a  routerLink="/admin">Admin</a></li>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
  <li *ngIf="authService.isLoggedIn()"><a   (click)="authService.logout()">Logout</a></li>
</ul> -->




